@import "src/style/variables";
.userList{
  width: 100%;
  padding: 10px;
  &__user{
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    box-shadow: $shadow;
  }
  &__name{
    font-weight: bold;
  }
  &_phone{
    font-size: 14px;
    color: $gray3;
    margin: 0 20px;
  }
}